<!DOCTYPE html>
<html>
    <head>
        <title>What I Like</title>
    </head>
    <body>
        <header>
            <h1>What I Like</h1>
        </header>
        <hr />
        <nav>
            <a href="/addtolist">Add To Your List!</a>
            <a style="float:right" href="/login">Login</a>
        </nav>
        <hr />
        <main>
            <ol>
                <li>DICTIONARY</li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ol>
        </main>
        <aside>
            <h3>Why I Chose This</h3>
            <p></p>
        </aside>
    </body>
</html>